@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #fafafa;
}

.container-form {
    margin-top: 2%;
    padding-top: 0.5%;
    padding-bottom: 2%;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.company-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    text-align: center;
    margin-top: 1%;
}

.form-area {
    margin-top: 3%;
}

.form-label {
    color: #000000;
}

.form-check-label {
    color: #000000;
}

.btn-div {
    display: flex;
    justify-content: center;
    gap: 8%;
}

#green-btn {
    background-color: #7CF182;
    border: 0.1em solid #305d32;
}

#orange-btn {
    background-color: #F8A342;
border: 0.1em solid #7d5220;
}
