
*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:"Press_Start_2P";
    src: url("../assets/fonts/Press-Start-2P/PressStart2P-Regular.ttf");
}

body{
    background-color:#fafafa;
  
}


.total{
    width: 40%;
    margin-top: 2%;
    padding-top: 0.5%;
    padding-bottom: 2%;
    margin-left: 25%;
    margin-right: 15%;
    padding-left: 5%;
    padding-right: 5%;
    border: solid;
    border-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: #fafafa;
}
.total h5{
    margin-top: 5%;
    font-family: "Press_Start_2P";
}
.formulario{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5%;
    
}

.mb-3{
    width: 60%;
}
.instagram a{
    display: inline-block;
    width: 90%;
    background-color: #cf7a18;
    color: white;
    text-decoration: none;
}
.emailGoogle a{
    display: inline-block;
    width: 90%;
    background-color:#309dc2;
    color: white;
    text-decoration: none;
}
#botaoconectar{
    background-color: #6fca74ff;
    border:#6fca74ff solid;
}
#btnvoltarlogin{
    display:flex;
    justify-content:center;
    margin-left: 30%;
    background-color: #309dc2;
    /* background-color: rgb(76, 153, 79);
    border: rgb(76, 153, 79) solid; */

}
/* .linkvoltar{
    color:white;
    text-decoration: none;
    background-color:rgb(76, 153, 79);;
} */
/* #7CF182
#57C1E4
#F8A342 */