/* FONTES IMPORTADAS */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* HEADER E BOTOES DE NAVEGAÇÃO */

header {
    background-color: rgb(255, 0, 0);
}

/* LOGO E TITULO DA DEVTRAINER */
.logoetitulo{
    align-items: center;
}


/* CLASSE DO TITULO DA DEV TRAINER NO HEADER */
.devtrainer {
    color: #000000;
    font-family: "Press Start 2P", cursive;
}

/* HOVER DO TITULO DA DEV TRAINER NO HEADER */
.devtrainer:hover {
    color: white;
}

/* CLASSE DOS BOTÕES DE NAVEGAÇÃO DO HEADER (NOSSOS CURSOS, NOSSA EQUIPE, JÁ TENHO CONTA E ASSINAR AGORA) */
.divbtns {
    font-family: "Press Start 2P", cursive;
    font-size: 100%;
    background-color: #7CF182;
}

/* CLASSE DO BOTÃO "NOSSOS CURSOS" */
.btnnossoscursos {
    font-size: 70%;
    color: #000000;
}

/* CLASSE DO BOTÃO "NOSSA EQUIPE" */
.btnnossaequipe {
    font-size: 70%;
    color: #000000;
}

/* CLASSE DO BOTÃO "JÁ TENHO CONTA" */
.btnjatenhoconta {
    font-size: 70%;
    color: #000000;
}

/* CLASSE DO BOTÃO "ASSINAR AGORA!" */
.btnassinaragora {
    font-size: 100%;
    height: 100%;
    color: #000000;
    background-color: #f17c7c;
}

/* HOVER DO BOTÃO DOS NOSSOS CURSOS */
.btnnossoscursos:hover {
    /* transform: translateY(-10px); box-shadow: 0px 5px 10px 5px #7CF182; */
    color: #ffffff;
}

/* HOVER DO BOTÃO DA NOSSA EQUIPE */
.btnnossaequipe:hover {
    /* transform: translateY(-10px); box-shadow: 0px 5px 10px 5px #57C1E4; */
    color: #ffffff;
}

/* HOVER DO BOTÃO DA TELA DE LOGIN */
.btnjatenhoconta:hover {
    /* transform: translateY(-10px); box-shadow: 0px 5px 10px 5px #F8A342; */
    color: #ffffff;
}

/* HOVER DO BOTÃO "ASSINAR AGORA */
.btnassinaragora:hover {
    /* transform: translateY(-10px); box-shadow: 0px 5px 10px 5px #ffffff; */
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

/* CONTAINER DA DESCRIÇÃO DA DEV TRAINER */