/* PALETA DE CORES DA DEV TRAINER
#7CF182
#57C1E4
#F8A342
#ffffff */

/* FONTES IMPORTADAS */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body{
    background-color: #00000079;
}
/* HEADER E BOTOES DE NAVEGAÇÃO */
header{
    background-color: #000000a4;
}

nav{
    height: 15%;
}
/* LOGO E TITULO DA DEVTRAINER */
.logoetitulo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


/* CLASSE DO TITULO DA DEV TRAINER NO HEADER */
.devtrainer {
    font-size: 140%;
    color: #57C1E4;
    font-family: "Press Start 2P", cursive;
}

/* HOVER DO TITULO DA DEV TRAINER NO HEADER */
.devtrainer:hover {
    color: white;
}

/* CLASSE DOS BOTÕES DE NAVEGAÇÃO DO HEADER (NOSSOS CURSOS, NOSSA EQUIPE, JÁ TENHO CONTA E ASSINAR AGORA) */
.divbtns {
    font-family: "Press Start 2P", cursive;
}

/* CLASSE DO BOTÃO "NOSSOS CURSOS" */
.btnnossoscursos {
    font-size: 60%;
    color: #ffffff;
}

/* CLASSE DO BOTÃO "NOSSA EQUIPE" */
.btnnossaequipe {
    font-size: 60%;
    color: #ffffff;
}

/* CLASSE DO BOTÃO "JÁ TENHO CONTA" */
.btnjatenhoconta {
    font-size: 60%;
    color: #ffffff;
}

/* CLASSE DO BOTÃO "ASSINAR AGORA!" */
.btnassinaragora{
    color: black;
    font-size: 80%;
    background-color: #57C1E4;
}

/* HOVER DO BOTÃO DOS NOSSOS CURSOS */
.btnnossoscursos:hover {
    color: #7CF182;
}

/* HOVER DO BOTÃO DA NOSSA EQUIPE */
.btnnossaequipe:hover {
    color: #57C1E4;
}

/* HOVER DO BOTÃO DA TELA DE LOGIN */
.btnjatenhoconta:hover {
    color: #F8A342;
}

/* HOVER DO BOTÃO "ASSINAR AGORA */
.btnassinaragora:hover {
    color: #000000;
    background-color: #7CF182;
    border: 0.1em solid black;
}

