/* FONTES IMPORTADAS */

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* HEADER E BOTOES DE NAVEGAÇÃO */

header{
    height: 30em;
    background-color: rgb(75, 77, 76);
    background-image: url(https://i.pinimg.com/originals/59/80/c2/5980c2f21b19972ca2346a9037f66493.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulodevtrainer{
    font-size: 1.5em;
    font-family: 'Press Start 2P', cursive;
    background-color: #57C1E4;
    padding: 2em;
}

.divbtns{
    font-size: 1em;
    color: #000000;
    gap: 1em;
}

.btnnossoscursos{
    font-size: 1em;
    background-color: #7CF182;
    border: 0.1em solid #000000;
}

.btnnossaequipe{
    font-size: 1em;
   color: #000000;
   background-color: #57C1E4;
   border: 0.1em solid #000000;
}

.btnjatenhoconta{
    font-size: 1em;
    color: #000000;
    background-color: #F8A342;
    border: 0.1em solid #000000;
}


.btnassinaragora{
    font-size: 1.5em;
    color: #000000;
    background-color: #ffffff;
    border: 0.1em solid #000000;
    height: 3em;
}

.btnnossoscursos:hover{
    /* transform: translateY(-10px); box-shadow: 0px 5px 10px 5px #7CF182; */
    color: #7CF182;
} 
.btnnossaequipe:hover{
    /* transform: translateY(-10px); box-shadow: 0px 5px 10px 5px #57C1E4; */
    color: #57C1E4;
} 
.btnjatenhoconta:hover{
    /* transform: translateY(-10px); box-shadow: 0px 5px 10px 5px #F8A342; */
    color: #F8A342;
}
.btnassinaragora:hover{
    /* transform: translateY(-10px); box-shadow: 0px 5px 10px 5px #ffffff; */
    color: #ffffff;

}






