/* FONTES IMPORTADAS */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

/* PALETA DE CORES DA DEV TRAINER
#7CF182
#57C1E4
#F8A342
#ffffff */

/* FONTES IMPORTADAS */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

main{
    height: 100vh;
    background-image: url(https://joceliahora.github.io/Georg-Dev/view/images/background_home.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.containermain {
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
/* TITULO DA DESCRICAO PARA O USUARIO */
.titulodescricao{
    font-family: 'Black Han Sans', sans-serif;
    color: red;
}
/* DEV TRAINER E A DESCRIÇÃO DO QUE ELA REPRESENTA. */
.descricaodevtrainer {
    text-align: center;
}

/*BOTÃO NA DESCRIÇÃO PARA DIRECIONAR A PÁGINA DE PLANOS E DEPOIS DO CADASTRO*/
.btnconfiranossosplanos {
    color: #000000;
    background-color: #7CF182;
    font-family: "Press Start 2P", cursive;
}

/* HOVER DO BOTÃO "CONFIRA NOSSOS PLANOS!" */
.btnconfiranossosplanos:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

section{
    height: 100vh;
    background-color: #000000;
    color: white;
}