/* FONTES IMPORTADAS */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

/* ZERANDO TODO O MARGIN E PADDING DO ESQUELETO */
* {
    margin: 0%;
    padding: 0%;
}

/* ESQUELETO DO HTML */


/* PALETA DE CORES DA DEV TRAINER
#7CF182
#57C1E4
#F8A342
#ffffff */

/* FONTES IMPORTADAS */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

main {
    height: 100vh;
    background-image: url(./cavalheiro_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* CONTAINER DA MAIN */
.containermain {
    height: 100vh;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
}

/* TITULO DA DESCRICAO PARA O USUARIO */
.titulodescricao {
    font-family: "Press Start 2P", cursive;
    color: #ffffff;
    font-size: 180%;
    margin-bottom: 5%;
}

/* DEV TRAINER E A DESCRIÇÃO DO QUE ELA REPRESENTA. */
.descricaodevtrainer {
    width: 40%;
    text-align: center;
    margin-left: 60vh;
    margin-top: -5vh;
    margin-left: 27%;
    margin-top: -3%;
}

/*BOTÃO NA DESCRIÇÃO PARA DIRECIONAR A PÁGINA DE PLANOS E DEPOIS DO CADASTRO*/
.btnconfiranossosplanos {
    color: black;
    font-family: "Press Start 2P", cursive;
    font-size: 100%;
    background-color: #57C1E4;
}

/* HOVER DO BOTÃO "CONFIRA NOSSOS PLANOS!" */
.btnconfiranossosplanos:hover {
    color: #000000;
     background-color: #F8A342;
}

.section1 {
    height: 50vh;
    background-color: #ff0000;
    color: white;
}

.section2 {
    height: 50vh;
    background-color: green;
    color: white;
}