/* FONTES IMPORTADAS */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

/* ZERANDO TODO O MARGIN E PADDING */
*{
    margin: 0%;
    padding: 0%;
}

/* PALETA DE CORES DA DEV TRAINER
#7CF182
#57C1E4
#F8A342
#ffffff */

/* FONTES IMPORTADAS */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

main{
    height: 100vh;
    background-image: url(./cavalheiro_header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* CONTAINER DA MAIN */
.containermain {
    display: flex;
    height: 100vh;
    color: #ffffff;
}
/* TITULO DA DESCRICAO PARA O USUARIO */
.titulodescricao{
    font-family: 'Black Han Sans', sans-serif;
    color: #ffffff;
}
/* DEV TRAINER E A DESCRIÇÃO DO QUE ELA REPRESENTA. */
.descricaodevtrainer {
    font-family: 'Black Han Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.descricao{
    width: 40%;
}

/*BOTÃO NA DESCRIÇÃO PARA DIRECIONAR A PÁGINA DE PLANOS E DEPOIS DO CADASTRO*/
.btnconfiranossosplanos {
    color: black;
    font-family: "Press Start 2P", cursive;
    font-size: 80%;
    background-color: #57C1E4;
}

/* HOVER DO BOTÃO "CONFIRA NOSSOS PLANOS!" */
.btnconfiranossosplanos:hover {
    font-size: 80%;
    background-color: #57C1E4;
}

.section1{
    height: 50vh;
    background-color: #ff0000;
    color: white;
}

.section2{
    height: 50vh;
    background-color: green;
    color: white;
}

