@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* estilizando pagina geral */
.containergeralplanos{
    width: 100%;
    height:70%; 
    align-content: center;
}


/* estilizando blocos dos planos  */
.containerplanos{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.planobasico,
.planojunior,
.planopleno,
.planosenior {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 1%;
    padding-left: 3%;
}

.titulosplanos {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    padding: 3%;
}

.descricaoplanos {
    font-size: 200%;
    letter-spacing: -1%;
}

.lema,
.fases2,
.aulas2 {
    font-size:70%;
}

.preco {
    font-size: 200%;
    letter-spacing: -2%;
}

.preco2 {
    font-size: 50%;
}

.preco3 {
    font-size: 40%;
    letter-spacing: 0%
}

.fases {
    font-size: 200%;
}

.aulas {
    font-size: 200%;
    letter-spacing: -2%;
}
/* estilizando botão */
.btn {
    text-decoration: none;
    text-align: center;
    background-color:#57C1E4;
    border: 2% solid #000207;
    border-radius: 1em;
    padding: 7px 8px;
    user-select: none;
    cursor: pointer;
    font-family: "Press Start 2P";
    font-size: 15px;
    transition: background 1s;
    align-items: flex-start;
}

.btn:hover, .btn:focus {
    background: var(--gradient) !important;
-webkit-background-clip: none !important;
-webkit-text-fill-color: #000207 !important;
border: 5px solid #fff !important; 
box-shadow: #222 1px 0 10px;
text-decoration: underline;
}
/* finalizando parte dos planos  */

/* iniciando página da equipe  */
  .card-img-top{
      width: 100%;
      height: 100vh;
  }
  /*tamanho do card e estilo*/
  .card {
    border: 1px solid #57C1E4;
    margin-bottom: 2rem;
    width: 10%;
    height: 10%; 

  }
/*estilizando o nome da equipe*/
h5{
      font-family: "Press Start 2P";
  }
  /*ajeitando o tamanho do card*/
.fotocard{
    width:10%;
    height: 10%;
}

/*ajeitando o dimensionamento e posição dos cards*/
.equipe{
    display: grid;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}