@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}
 
body{
    background-color: #fafafa;
}

.geral{
    padding:15px;
    margin-top: 40px;
    width:40%;
    text-align: left;
    margin-top: 08%;
    margin-left: 05%;
    border:solid;
    border-color:#FFFFFF;
    font-size: 22px;
    font-family: 'Mochiy Pop P One', sans-serif;
    box-shadow:rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
}

.texto02{
    margin: 20px;
}

.form-text{
    margin: 20px;
}

.cadeado{
        
        width:20%;
        border-radius: 10%;
        margin-right: 15%;
        margin-top: 02%;
        float: right;
}

